body {
    font-family: 'Montserrat', sans-serif;
    min-width: max-content;
    margin: 0 auto;
}

a {
    /* outline: none; */
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: darkred;
}

/* Header */
    header {
        background-color: #f0f0f0;
        text-align: center;
        padding: 1em 0.5em;
        font-weight: bold;
    }

    .titulo {
        font-size: 1.8em;
        font-weight: bolder;
        }

    .subtitulo {
        font-size: 1.2em;
    }

    .descricao {
        font-size: 1.1em;
    }


/* Main */
    main {
        width: 350px;
        margin: 0 auto;
        padding: 0 0.5em;
    }

    .titulo_conteudo {
        font-size: 1.2em;
        margin: 1em 0;
    }

    .subtitulo_conteudo {
        margin-bottom: 1em;
    }


/* Index */
    .lista_dias {
        width: 350px;
        margin: 1em auto;
        text-align: left;
    }

    .dia {
        margin-bottom: 0.5em;
    }


/* Dia 1 - Operações Booleanas */
    .numero {
        margin-bottom: 0.5em;
        font-size: 0.94em;
    }

/* Dia 2 - Variáveis */
    .iniciar {
        width: 350px;
        margin: 0 auto 1em;
    }

/* Dia 7 - Calculadora */
    .input_numeros {
        width: 100%;
        height: 2em;
    }

    .calc_botoes {
        display: inline-block;
        margin: 1em auto;
    }

    .tecla {
        margin: 0 0 0.5em;
        width: 32.5%;
        height: 3em;
    }

    .tecla_0 {
        width: 61%;
    }
    
    .tecla_del {
        font-weight: bolder;
    }

    .tecla_limpar {
        width: 100%;
    }